/* Style page Home */
.mb-2 {
    margin-bottom: .5rem
}

.mt-8 {
    margin-top: 2rem
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.w-full {
    width: 100%
}

.flex-row {
    flex-direction: row
}

.justify-center {
    justify-content: center
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: #F3F4F6FF
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.pt-8 {
    padding-top: 2rem
}

.pb-8 {
    padding-bottom: 2rem
}

.text-center {
    text-align: center
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.bg-beige-custom {
    background-color: snow
}

@media (min-width: 768px) {
    .sm\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem
    }

    .sm\:w-4\/6 {
        width: 66.666667%
    }

    .sm\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }

    .sm\:pb-4 {
        padding-bottom: 1rem
    }

    .sm\:text-left {
        text-align: left
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }
    
    .sm\:sm-margin-post-sidebar {
        margin-left: 33.333333%
    }
}

@media (min-width: 1024px) {
    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .lg\:w-5\/6 {
        width: 83.333333%
    }

    .lg\:lg-margin-post-sidebar {
        margin-left: 25%
    }
}

@media (min-width: 1280px) {
    .xl\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem
    }

    .xl\:w-10\/12 {
        width: 83.333333%
    }

    .xl\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .xl\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .xl\:xl-margin-post-sidebar {
        margin-left: 16.666667%
    }
}

@media (min-width: 1536px) {
    .\32xl\:pb-8 {
        padding-bottom: 2rem
    }
}

/*

.w-full {
    width: 100%
}

.block {
    display: block
}

.h-full {
    height: 100%
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.inline-block {
    display: inline-block
}

.justify-center {
    justify-content: center
}

.text-center {
    text-align: center
}

.flex {
    display: flex
}

.flex-row {
    flex-direction: row
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.mb-2 {
    margin-bottom: .5rem
}

.mt-8 {
    margin-top: 2rem
}

.pb-4 {
    padding-bottom: 1rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pt-8 {
    padding-top: 2rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.px-32 {
    padding-left: 8rem;
    padding-right: 8rem
}

.bg-beige-custom {
    background-color: snow
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}

.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity))
}

@media (min-width: 768px) {
    .sm\:flex {
        display: flex
    }

    .sm\:flex-row {
        flex-direction: row
    }

    .sm\:h-full {
        height: 100%
    }

    .sm\:inline-block {
        display: inline-block
    }

    .sm\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem
    }

    .sm\:pb-4 {
        padding-bottom: 1rem
    }

    .sm\:pt-8 {
        padding-top: 2rem
    }

    .sm\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }

    .sm\:text-left {
        text-align: left
    }

    .sm\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .sm\:w-4\/12 {
        width: 33.333333%
    }

    .sm\:w-6\/12 {
        width: 50%
    }

    .sm\:w-9\/12 {
        width: 75%
    }

    .sm\:w-10\/12 {
        width: 83.333333%
    }

    .sm\:sm-margin-post-sidebar {
        margin-left: 33.333333%
    }
}

@media (min-width: 1024px) {
    .lg\:lg-margin-post-sidebar {
        margin-left: 25%
    }

    .lg\:mx-0 {
        margin-left: 0;
        margin-right: 0
    }

    .lg\:pt-8 {
        padding-top: 2rem
    }

    .lg\:w-0 {
        width: 0px
    }

    .lg\:w-5\/6 {
        width: 83.333333%
    }

    .lg\:w-6\/12 {
        width: 0%
    }

}

@media (min-width: 1280px) {
    .xl\:flex-row {
        flex-direction: row
    }

    .xl\:justify-center {
        justify-content: center
    }

    .xl\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem
    }

    .xl\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .xl\:text-base {
        font-size: 1rem;
        line-height: 1.5rem
    }

    .xl\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem
    }

    .xl\:w-3\/12 {
        width: 25%
    }

    .xl\:w-4\/12 {
        width: 33.333333%
    }

    .xl\:w-9\/12 {
        width: 75%
    }

    .xl\:w-10\/12 {
        width: 83.333333%
    }

    .xl\:xl-margin-post-sidebar {
        margin-left: 16.666667%
    }
}

@media (min-width: 1536px) {
    .\32xl\:pb-8 {
        padding-bottom: 2rem
    }
}

*/