/* stype Balise Main et Div en tete de page x */

.w-full {
    width: 100%
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.bg-beige-custom {
    background-color: snow
}

@media (min-width: 768px) {
    .sm\:w-4\/6 {
        width: 66.666667%
    }

    .sm\:px-32 {
        padding-left: 8rem;
        padding-right: 8rem
    }

    .sm\:sm-margin-post-sidebar {
        margin-left: 33.333333%
    }
}

@media (min-width: 1024px) {
    .lg\:w-5\/6 {
        width: 83.333333%
    }

    .lg\:lg-margin-post-sidebar {
        margin-left: 25%
    }
}

@media (min-width: 1280px) {
    .xl\:w-10\/12 {
        width: 83.333333%
    }

    .xl\:xl-margin-post-sidebar {
        margin-left: 16.666667%
    }
}